# .env

# SECURITY
SECRET_KEY=!v=+_pvns1$g9(k670n4(w1tc)i6fqsbwaqk^gvldye*)it+j0
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# DATABASE
DB_NAME=votingsphere_db
DB_USER=poisedre117
DB_PASSWORD=@Wonglee26
DB_HOST=localhost
DB_PORT=5432

# CORS (optional if using frontend)
CORS_ALLOWED_ORIGINS=http://localhost:3000

# JWT Settings (optional overrides)
ACCESS_TOKEN_LIFETIME=60  # in minutes
REFRESH_TOKEN_LIFETIME=1440  # in minutes (1 day)
